.wrapper {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.slider {
	position: static;
	width: 100%;
}

.controls {
	z-index: 2;
	position: absolute;
	left: 80px;
	top: 200px;

	display: flex;
	flex-direction: column;
	gap: 20px;
}
