.wrapper {
	position: relative;
	width: 1440px;
	min-height: 100vh;
	margin: 0 auto;

	padding-top: 170px;
	padding-bottom: 50px;
	border-left: 1px rgba(#42567a, 0.1) solid;
	border-right: 1px rgba(#42567a, 0.1) solid;

	display: flex;
	flex-direction: column;
	gap: 176px;
}
